html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    color: #FFFFFF;
    height: 208px;
    background: black;
    background-image: url("images/bg-image.avif");
    background-size: 100%;
    background-position-y: -185px;
    background-color: #616161;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h1 {
    font-size: 2.688rem;
    margin-left: 10%;
}

header > a {
    font-size: 0.875rem;
    margin-right: 8%;
    background: none;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

nav {
    width: 80%;
    margin-left: 10%;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-image: url("icons/mag-glass.png");
  background-repeat: no-repeat;
  background-position: 3% 50%;
  font-size: 14px;
  padding-left: 35px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  height: 40px;
  border-radius: 0 5px 5px 0;
}

nav {
    margin-top: -20px;
}

.filmData > img{
    width: 99px;
    height: 147px;
    margin-right: 21px;
}

.title > h3 {
    font-size: 18px;
}

.title > .rating,
.info {
    font-size: 12px;
}

.synopsis {
    font-size: 14px;
}

.filmData {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.title,
.info,
.synopsis {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 19px;
}

.info > p {
   margin-right: 19px;
}

.watchlist{
    display: flex;
    flex-direction: column;
}

.placeholder-icon{
    width: 70px;
}

.placeholder{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-results{
    height: 60vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder > a {
    font-size: 14px;
    padding: 5px 40px;
    background-image: url('icons/add.png');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    text-decoration: none;
}

.remove-from-watchlist {
    border: none;
    background: none;
    padding: 0 20px;
    background-image: url('icons/add.png');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 15%;
    cursor: pointer;
}

.rating {
    border: none;
    background: none;
    padding: 0 20px;
    background-image: url('icons/star.png');
    background-repeat: no-repeat;
    background-position: 5% 35%;
    background-size: 20%;
}